<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="/about">About</a> </li>
        <li><a href="/works">Works</a> </li>
    </ul>
    <h1>About</h1>
    <p>With so many people looking for a job, when a company posts a job offer, it can receive hundreds of CVs. Same template models,
         structures, data... </p>
    <p> It is not surprising that when looking for a job, one of the keys is the differentiation and personalization of your application.
     A short and well-crafted cover letter can make a difference and put you one step ahead of the rest of the candidates.</p>
</body>
</html>